## Using the `map()` Function in Python

`map()` is a built-in Python function that takes in two or more arguments: a function and one or more iterables, in the form:

In [1]:
def fahrenheit(celsius):
    return (9/5)*celsius + 32
    
temps = [0, 22.5, 40, 100]

In [ ]:
F_temps = map(fahrenheit, temps)
print(list(F_temps)) # map() returns an iterator

[32.0, 72.5, 104.0, 212.0]

In [ ]:
# or shorter with lambda:
list(map(lambda x: (9/5)*x + 32, temps))

[32.0, 72.5, 104.0, 212.0]

In [6]:
# with multiple iterables

a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

print(list(map(lambda x,y:x+y,a,b)))
print(list(map(lambda x,y,z:x+y+z,a,b,c)))

[6, 8, 10, 12]
[15, 18, 21, 24]

### Extracting First Letters

In [7]:
words = ["Python", "Data", "Science", "Machine", "Learning", "AI"]

In [8]:
list(map(lambda x: x[0], words))

['P', 'D', 'S', 'M', 'L', 'A']

### Square the Numbers

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Title Case Formatting

In [11]:
names = ["aLiCe", "BOB", "charLie", "daViD", "eVelyn"]

In [14]:
list(map(str.title, names))

['Alice', 'Bob', 'Charlie', 'David', 'Evelyn']

### Filter and Modify Even Numbers
Filter out only the even numbers, square them, and convert them to strings

In [15]:
numbers = [3, 6, 8, 11, 15, 20, 25, 30]

In [22]:
list(map(lambda x: str(x**2), filter(lambda x: not x % 2, numbers)))

['36', '64', '400', '900']

# Usage of `reduce()`

The function `reduce(function, sequence)` continually applies the function to the sequence. It then returns a single value.

If `seq = [s1, s2, s3, ..., sn]`, calling `reduce(function, sequence)` works like this:

1. At first, the first two elements of `seq` will be applied to the function, i.e. `function(s1, s2)`.
2. The list on which `reduce()` works now looks like this: `[function(s1, s2), s3, ..., sn]`.
3. In the next step, the function will be applied to the previous result and the third element of the list, i.e. `function(function(s1, s2), s3)`.
4. The list now looks like this: `[function(function(s1, s2), s3), ..., sn]`.
5. It continues like this until just one element is left and returns this element as the result of `reduce()`.

In [23]:
from functools import reduce

In [24]:
lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [25]:
#Find the maximum of a sequence (This already exists as max())
max_find = lambda a,b: a if (a > b) else b

In [26]:
reduce(max_find, lst)

47

In [29]:
numbers = [2, 3, 4, 5]
reduce(lambda x,y: x*y, numbers, 1) # Default 1 for an empty list

120

### Find the Maximum Number in a List

In [30]:
numbers = [3, 8, 2, 10, 4, 7]
reduce(lambda x,y: x if (x > y) else y, numbers)

10

### Concatenate a List of Strings

In [39]:
strings = ["Hello", " ", "world", "!"]
reduce(lambda x,y: x+y, strings, '')

'Hello world!'

### Sum of Digits of a Number

In [40]:
n = 12345
reduce(lambda x,y: x+y, map(int, str(n)))

15

### GCD of a List

In [42]:
numbers = [48, 64, 16]

In [41]:
import math

In [43]:
reduce(math.gcd, numbers)

16

### Compute Factorial of a Number

In [ ]:
n = 5
reduce(lambda x,y: x*y, range(1, n+1), 1)

120

### Find the Longest Word in a List

In [134]:
words = ["apple", "banana", "cherry", "blueberry"]
reduce(lambda x,y: x if (len(x) > len(y)) else y, words, '')

'blueberry'

### Calculate the Running Sum of a List

In [77]:
numbers = [1, 2, 3, 4]
reduce(lambda acc, x: acc + [acc[-1] + x] if acc else [x], numbers, [])

[1, 3, 6, 10]

###  Convert a Binary String to an Integer

In [76]:
binary_str = "1101"
reduce(lambda x,y: x*2+y, map(int, binary_str))

13

### Flatten a Nested List

In [135]:
nested_list = [[1, 2], [3, 4], [5, 6]]
reduce(lambda x,y: x+y, nested_list, [])

[1, 2, 3, 4, 5, 6]

### Compute the Product of Odd Numbers Only

In [136]:
numbers = [1, 2, 3, 4, 5]
reduce(lambda x,y: x*y, filter(lambda x: x % 2, numbers), 1)

15

### Compute the Sum of Squares

In [137]:
numbers = [1, 2, 3, 4]
reduce(lambda acc,x: acc+x**2, numbers, 0)

30

### Find the Most Frequent Element

In [155]:
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
counter = reduce(lambda acc,x: {**acc, x: acc.get(x,0) + 1}, elements, {}) # a way to update a dictionary without modifying it in place
reduce(lambda x,y: x if counter[x] > counter[y] else y, counter)

'banana'

### Group Elements by Their First Letter

In [4]:
from functools import reduce

In [2]:
words = ["apple", "banana", "apricot", "blueberry", "avocado", "cherry"]

In [45]:
reduce(lambda acc,x: {**acc, x[0]: acc.get(x[0], []) + [x]}, words, {})

{'a': ['apple', 'apricot', 'avocado'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry']}

In [46]:
reduce(lambda acc, x: dict(acc, **{x[0]: acc.get(x[0], []) + [x]}), words, {})

{'a': ['apple', 'apricot', 'avocado'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry']}

In [48]:
from collections import defaultdict

def group_by_first_letter(words):
    acc = defaultdict(list)
    for word in words:
        acc[word[0]].append(word)
    return dict(acc)

group_by_first_letter(words)

{'a': ['apple', 'apricot', 'avocado'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry']}

# Filter

The function `filter(function, list)` offers a convenient way to filter out all the elements of an iterable for which the function returns `True`.

The function `filter(function, list)` needs a function as its first argument. The function needs to return a Boolean value (either `True` or `False`). This function will be applied to every element of the iterable. Only if the function returns `True` will the element of the iterable be included in the result.

Like `map()`, `filter()` returns an iterator - that is, `filter` yields one result at a time as needed. Iterators and generators will be covered in an upcoming lecture. For now, since our examples are so small, we will cast `filter()` as a list to see our results immediately.

In [49]:
def even_check(num):
    if num%2 ==0:
        return True

In [50]:
lst =range(20)

list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Filter Prime numbers

In [102]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x > 1 and all(x % i != 0 for i in range(2, x)), numbers))

[2, 3, 5, 7]

In [106]:
list(filter(lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**0.5)+1)), numbers))

[2, 3, 5, 7]

###  Filtering Words by Length

In [108]:
words = ["apple", "banana", "kiwi", "grapefruit", "pear", "cherry"]
n = 5

In [109]:
list(filter(lambda x: len(x)>n, words))

['banana', 'grapefruit', 'cherry']

### Filtering words that contain a specific letter

In [113]:
words = ["apple", "banana", "kiwi", "grapefruit", "pear", "cherry"]
letter = 'a'

In [117]:
list(filter(lambda x: (len(x)>n) and (letter in x), words))

['banana', 'grapefruit']

### Filtering Palindromes

In [118]:
words = ["madam", "racecar", "python", "level", "world", "civic"]

In [129]:
list(filter(lambda x: x == x[::-1], words))

['madam', 'racecar', 'level', 'civic']

In [132]:
# ignore case sensitivity
list(filter(lambda x: x.lower() == x.lower()[::-1], words))

['madam', 'racecar', 'level', 'civic']

In [133]:
# ignore spaces, punctuation, and special characters
import re

list(filter(lambda x: x.lower() == x.lower()[::-1], map(lambda x: re.sub(r'[^a-zA-Z0-9]', '', x), words)))

['madam', 'racecar', 'level', 'civic']

### `zip()`

The `zip()` function makes an iterator that aggregates elements from each of the iterables.

It returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. The iterator stops when the shortest input iterable is exhausted. With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

In [134]:
def zip(*iterables):
    # zip('ABCD', 'xy') --> Ax By
    sentinel = object()
    iterators = [iter(it) for it in iterables]
    while iterators:
        result = []
        for it in iterators:
            elem = next(it, sentinel)
            if elem is sentinel:
                return
            result.append(elem)
        yield tuple(result)

In [135]:
x = [1,2,3]
y = [4,5,6]

# Zip the lists together
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [136]:
x = [1,2,3]
y = [4,5,6,7,8]

# Zip the lists together
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [137]:
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

In [138]:
list(zip(d2,d1.values()))

[('c', 1), ('d', 2)]

In [140]:
def switcharoo(d1,d2):
    dout = {}
    
    for d1key,d2val in zip(d1,d2.values()):
        dout[d1key] = d2val
    
    return dout
switcharoo(d1,d2)

{'a': 4, 'b': 5}

### Student Grades

In [167]:
students = ["Alice", "Bob", "Charlie", "David"]
grades = [85, 92, 78, 90]
grades_dict = dict(zip(students, grades))
for key in grades_dict:
    print(f'{key}: {grades_dict.get(key)}')
best_student = max(grades_dict, key=grades_dict.get)
print(f"Highest Grade: {best_student} - {grades_dict[best_student]}")

Alice: 85
Bob: 92
Charlie: 78
David: 90
Highest Grade: Bob - 92

### Transposing a Matrix

In [183]:
# matrix = [
#     [1, 2, 3],
#     [4, 5, 6],
#     [7, 8, 9]
# ]

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8]
]

In [189]:
for line in zip(*matrix):
    print(' '.join(map(str, line)))

1 5
2 6
3 7
4 8

### Unzipping Data

In [190]:
employees = [
    ("Alice", 25, "HR"),
    ("Bob", 30, "Engineering"),
    ("Charlie", 28, "Marketing"),
    ("David", 35, "Finance")
]

In [221]:
categories = ['Names', 'Ages', 'Departments']
category_dict = dict(zip(categories, map(list, zip(*employees))))
for category, values in category_dict.items():
    print(f'{category}: {values}')

Names: ['Alice', 'Bob', 'Charlie', 'David']
Ages: [25, 30, 28, 35]
Departments: ['HR', 'Engineering', 'Marketing', 'Finance']

In [239]:
oldest = max(employees, key=lambda x: x[1])
print(f'Oldest Employee: {oldest[0]} ({oldest[2]})')

Oldest Employee: David (Finance)

In [242]:
max_age = max(category_dict['Ages'])
oldest_employees = [emp for emp in employees if emp[1] == max_age]
oldest_employees

[('David', 35, 'Finance')]

### `enumerate()`

`enumerate()` allows you to keep a count as you iterate through an object. It does this by returning a tuple in the form `(count, element)`. The function itself is equivalent to:

```python
def enumerate(sequence, start=0):
    n = start
    for elem in sequence:
        yield n, elem
        n += 1

In [243]:
lst = ['a','b','c']

for number,item in enumerate(lst):
    print(number)
    print(item)

0
a
1
b
2
c

In [244]:
for count,item in enumerate(lst):
    if count >= 2:
        break
    else:
        print(item)

a
b

In [245]:
months = ['March','April','May','June']

list(enumerate(months,start=3))

[(3, 'March'), (4, 'April'), (5, 'May'), (6, 'June')]

In [266]:
# Given a list of fruits, use enumerate() to print each fruit with its index.
fruits = ["apple", "banana", "cherry", "date"]
for index, fruit in enumerate(fruits):
    print(f'{fruit}: {index}')
# Modify the above exercise so that the index starts from 1 instead of 0.
for index, fruit in enumerate(fruits, start=1):
    print(f'{fruit}: {index}')

apple: 0
banana: 1
cherry: 2
date: 3
apple: 1
banana: 2
cherry: 3
date: 4

In [267]:
# Given a list of tuples containing names and ages, use enumerate() to print the index, name, and age.

people = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
for index, (name, age) in enumerate(people):
    print(f'{index}: {name} {age}')

0: Alice 25
1: Bob 30
2: Charlie 35

In [260]:
# Use enumerate() to iterate over a list of numbers and print only the odd-indexed numbers.

numbers = [10, 20, 30, 40, 50, 60]
for index, number in enumerate(numbers):
    if index % 2 != 0:
        print(number)

20
40
60

In [263]:
for elem in list(filter(lambda x: x[0]%2 != 0, enumerate(numbers))):
    print(elem[1])

20
40
60

In [268]:
odd_indexed_numbers = [num for i, num in enumerate(numbers) if i % 2 != 0]
print(*odd_indexed_numbers)

20 40 60

In [286]:
# Using enumerate(), replace every second element in a list with "REPLACED"

words = ["one", "two", "three", "four", "five", "six"]
replaced_words = list(map(lambda word: word[1] if word[0]%2!=0 else 'REPLACED', enumerate(words, start=1)))
replaced_words

['one', 'REPLACED', 'three', 'REPLACED', 'five', 'REPLACED']

In [287]:
replaced_words = ["REPLACED" if index % 2 == 0 else word for index, word in enumerate(words, start=1)]
replaced_words

['one', 'REPLACED', 'three', 'REPLACED', 'five', 'REPLACED']

In [303]:
# Convert a list of words into a dictionary where the index is the key and the word is the value.

words = ["Python", "Java", "C++", "Rust"]
dict(zip(*list(zip(*enumerate(words)))))

{0: 'Python', 1: 'Java', 2: 'C++', 3: 'Rust'}

In [304]:
word_dict = {index: word for index, word in enumerate(words)}
print(word_dict)

{0: 'Python', 1: 'Java', 2: 'C++', 3: 'Rust'}

In [305]:
word_dict = dict(enumerate(words))
print(word_dict)

{0: 'Python', 1: 'Java', 2: 'C++', 3: 'Rust'}

In [315]:
# Use enumerate() to find the index and value of the maximum element in a list.

numbers = [3, 7, 2, 9, 5, 10, 1]
max(enumerate(numbers), key=lambda x: x[1])

(5, 10)

In [316]:
index, value = max(enumerate(numbers), key=lambda x: x[1])
print(f"Max value: {value} at index: {index}")

Max value: 10 at index: 5

In [326]:
#  Iterate over a list in reverse order while keeping track of the original indices.

letters = ["a", "b", "c", "d"]

reversed_list = [(index, letter) for index, letter in reversed(list(enumerate(letters)))]
print(reversed_list)

for index, letter in reversed(list(enumerate(letters))):
    print(f"Original Index: {index}, Value: {letter}")

[(3, 'd'), (2, 'c'), (1, 'b'), (0, 'a')]
Original Index: 3, Value: d
Original Index: 2, Value: c
Original Index: 1, Value: b
Original Index: 0, Value: a

In [331]:
# Given a list of lists, use enumerate() to print the index of each sublist along with its contents.

data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for index, sublist in enumerate(data):
    print(f"Index {index}: {sublist}")

Index 0: [1, 2, 3]
Index 1: [4, 5, 6]
Index 2: [7, 8, 9]

In [334]:
# Use enumerate() to find the index of the first occurrence of a specific value in a list.

items = ["apple", "banana", "cherry", "banana", "date"]
target = "banana"

for index, item in enumerate(items):
    if item == target:
        print(index)
        break

index = next((i for i, item in enumerate(items) if item == target), -1)
print(index)

1
1

### `all()` and `any()`

`all()` and `any()` are built-in functions in Python that allow us to conveniently check for boolean matching in an iterable.

- `all()` will return `True` if all elements in an iterable are `True`. It is the same as this function code:

    ```python
    def all(iterable):
        for element in iterable:
            if not element:
                return False
        return True
    ```

- `any()` will return `True` if any of the elements in the iterable are `True`. It is equivalent to the following function code:

    ```python
    def any(iterable):
        for element in iterable:
            if element:
                return True
        return False
    ```

# Some Tests

### Problem 1
Use map() to create a function which finds the length of each word in the phrase (broken by spaces) and returns the values in a list.

The function will have an input of a string, and output a list of integers.

In [336]:
def word_lengths(phrase):
    return list(map(len, phrase.split()))

word_lengths('How long are the words in this phrase')

[3, 4, 3, 3, 5, 2, 4, 6]

### Problem 2
Use reduce() to take a list of digits and return the number that they correspond to. For example, [1, 2, 3] corresponds to one-hundred-twenty-three.
Do not convert the integers to strings!

In [358]:
from functools import reduce

def digits_to_num(digits):
    return reduce(lambda acc,x: acc * 10 + x, digits, 0)
digits_to_num([3,4,3,2,1])

34321

### Problem 3
Use filter to return the words from a list of words which start with a target letter.

In [359]:
def filter_words(word_list, letter):
    return list(filter(lambda x: x[0]==letter, word_list))

In [360]:
l = ['hello','are','cat','dog','ham','hi','go','to','heart']
filter_words(l,'h')

['hello', 'ham', 'hi', 'heart']

### Problem 4
Use zip() and a list comprehension to return a list of the same length where each value is the two strings from L1 and L2 concatenated together with connector between them. Look at the example output below:

In [366]:
def concatenate(L1, L2, connector):
    
    return [f'{word1}{connector}{word2}'for (word1,word2) in list(zip(L1, L2))]

In [367]:
concatenate(['A','B'],['a','b'],'-')

['A-a', 'B-b']

### Problem 5
Use enumerate() and other skills to return a dictionary which has the values of the list as keys and the index as the value. You may assume that a value will only appear once in the given list.

In [392]:
def d_list(L):
    
    return {value : index for index,value in enumerate(L)}
d_list(['a','b','c'])

{'a': 0, 'b': 1, 'c': 2}

### Problem 6
Use enumerate() and other skills from above to return the count of the number of items in the list whose value equals its index.

In [404]:
def count_match_index(L):
    
    return len([index for index,value in enumerate(L) if index == value])
count_match_index([0,2,2,1,5,5,6,10])

4