In [1]:
import re

In [18]:
test = [
    '1. Order ID: #A1234 | Date: 2024-03-15 | Customer: John Doe | Rating: 5/5',
    '2. Order ID: #B5678 | Date: 2024-02-27 | Customer: Jane Smith | Rating: 4/5',
    '3. Order ID: #C9101 | Date: 2024-01-12 | Customer: Alice Johnson | Rating: 3/5',
    '4. Order ID: #D1121 | Date: 2024-03-02 | Customer: Bob Brown | Rating: 5/5'
]

In [34]:
pattern = r"#\w\d+"

In [35]:
ids = []
for line in test:
    ids.append(re.findall(pattern, line)[0])

In [36]:
ids

['#A1234', '#B5678', '#C9101', '#D1121']

In [37]:
date_pattern = r"\d+-\d+-\d+"

In [39]:
dates = []
for line in test:
    dates.append(re.findall(date_pattern, line)[0])

dates

['2024-03-15', '2024-02-27', '2024-01-12', '2024-03-02']

In [50]:
customer_pattern = r"Customer: ([A-Za-z ]+)"
customers = []
for line in test:
    match = re.findall(customer_pattern, line)
    if match:
        customers.append(match[0])
customers

['John Doe ', 'Jane Smith ', 'Alice Johnson ', 'Bob Brown ']

In [54]:
rating_pattern = r"\d/5"
ratings = []
for line in test:
    ratings.append(re.findall(rating_pattern, line)[0])
ratings

['5/5', '4/5', '3/5', '5/5']

In [61]:
best_rating_pattern = r"(.*) [|] Rating: 5/5"
best = []
for line in test:
    match = re.findall(best_rating_pattern,line)
    if match:
        print(match[0])

1. Order ID: #A1234 | Date: 2024-03-15 | Customer: John Doe
4. Order ID: #D1121 | Date: 2024-03-02 | Customer: Bob Brown

In [65]:
first_name_pattern = r"Customer: ([A-Za-z]+)"
first_names = []
for line in test:
    match = re.findall(first_name_pattern, line)
    if match:
        print(match[0])

John
Jane
Alice
Bob

In [69]:
just_number_pattern = r"#(\w\d+)"
for line in test:
    match = re.findall(just_number_pattern, line)
    if match:
        print(match[0])

A1234
B5678
C9101
D1121

In [71]:
greater_than_3 = r"Rating: ([4-5]/5)"
for line in test:
    match = re.findall(greater_than_3, line)
    if match:
        print(match[0])

5/5
4/5
5/5

In [74]:
all_5 = r".*5/5"
for line in test:
    match = re.findall(all_5, line)
    if match:
        print(match[0])

1. Order ID: #A1234 | Date: 2024-03-15 | Customer: John Doe | Rating: 5/5
4. Order ID: #D1121 | Date: 2024-03-02 | Customer: Bob Brown | Rating: 5/5

In [75]:
year_pattern = r"Date: (\d+)-"
for line in test:
    match = re.findall(year_pattern, line)
    if match:
        print(match[0])

2024
2024
2024
2024

In [76]:
march_pattern = r".*-03-.*"
for line in test:
    match = re.findall(march_pattern, line)
    if match:
        print(match[0])

1. Order ID: #A1234 | Date: 2024-03-15 | Customer: John Doe | Rating: 5/5
4. Order ID: #D1121 | Date: 2024-03-02 | Customer: Bob Brown | Rating: 5/5

In [77]:
text = """
1. Order ID: #A1234 | Date: 2024-03-15 | Customer: John Doe | Rating: 5/5.
2. Order ID: #B5678 | Date: 2024-02-27 | Customer: Jane Smith | Rating: 4/5!
3. Order ID: #C9101 | Date: 2024-01-12 | Customer: Alice Johnson | Rating: 3/5?
4. Order ID: #D1121 | Date: 2024-03-02 | Customer: Bob Brown | Rating: 5/5...
"""

In [127]:
point_line = r".+[^.](?<!\.\.)[.!?]$"
for line in text.splitlines():
    match = re.findall(point_line, line)
    if match:
        print(line)

1. Order ID: #A1234 | Date: 2024-03-15 | Customer: John Doe | Rating: 5/5.
2. Order ID: #B5678 | Date: 2024-02-27 | Customer: Jane Smith | Rating: 4/5!
3. Order ID: #C9101 | Date: 2024-01-12 | Customer: Alice Johnson | Rating: 3/5?