In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'score': [85, 90, 95, 80]
}, index=['a', 'b', 'c', 'd'])

print(df)

      name  score
a    Alice     85
b      Bob     90
c  Charlie     95
d    David     80

In [2]:
df.loc['a']

name     Alice
score       85
Name: a, dtype: object

In [9]:
df.loc[:, 'score']

a    85
b    90
c    95
d    80
Name: score, dtype: int64

In [10]:
df.loc['a']

name     Alice
score       85
Name: a, dtype: object

In [15]:
df.iloc[:,0]

a      Alice
b        Bob
c    Charlie
d      David
Name: name, dtype: object

What’s the output of this code?
```Python
import numpy as np

arr = np.array([1, 2, 3, 4])
print(arr[arr > 2])
```

## 1. Choose the correct statements about Python (multiple answers OK)
    □ Python uses garbage collection to manage memory
    □ Python variables must be declared with a type
    □ Python functions can have default arguments
    □ Python supports multi-threading without the GIL
    □ Python’s with statement is used for context management

    1,3,5

## 2. What does this code output?
```Python
x = [1, 2, 3]
y = x
x.append(4)
print(y)

## 3. SQL Logic
You have a table employees with columns:

* id (int)

* name (varchar)

* salary (float)

* department (varchar)

Write a SQL query to return the name of the employee(s) with the highest salary per department.

```SQL
SELECT e.name, e.salary, e.department
FROM employees e
JOIN (
    SELECT department, MAX(salary) AS max_salary
    FROM employees
    GROUP BY department
) m ON e.department = m.department AND e.salary = m.max_salary;

SELECT e.name, e.salary, e.department
FROM employees e
WHERE e.salary = (
    SELECT MAX(salary)
    FROM employees
    WHERE department = e.department
);

## 4. Code a function to flatten a nested list.
Input:

```Python
[[1, 2], [3, 4, [5, 6]], 7]

Expected output: [1, 2, 3, 4, 5, 6, 7]

In [67]:
from functools import reduce

def flatten_it(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten_it(item))
        else:
            result.append(item)
    return result

In [76]:
def flatten_it(lst):
    for item in lst:
        if isinstance(item, list):
            yield from flatten_it(item)
        else:
            yield item

In [78]:
lst = [[1, 2], [3, 4, [5, 6]], 7]

list(flatten_it(lst))

[1, 2, 3, 4, 5, 6, 7]

## 5. What will this code return?
```python
import pandas as pd

df = pd.DataFrame({
    'group': ['A', 'B', 'A', 'B'],
    'value': [10, 20, 30, 40]
})

print(df.groupby('group')['value'].sum())

□ A: 40, B: 60
□ A: 20, B: 60
□ A: 30, B: 40
□ Error

40, 60

## 6. Write a Bash command to count the number of lines in a large CSV file that contain the word “ERROR” (case-insensitive).

```bash
grep -i "ERROR" file.csv | wc -l
```
or without matching lines (just count)
```bash
grep -i -c "ERROR" file.csv
```

## 7. Using requests, write a function that retries 3 times if the API call fails (status != 200).

In [ ]:
import requests

def fetch_data(url):
    try_number = 1
    while try_number <= 3:
        response = requests.get(url)
        if response.status_code != 200:
            print(f'Try #{try_number}: API call failed with status {response.status_code}')
            try_number += 1
        else:
            return response.json()
        
    raise Exception(f"API call failed after 3 attempts")

## 8. What is the difference between INNER JOIN and LEFT JOIN in SQL? Provide an example if needed.

```sql

SELECT *
FROM users
INNER JOIN orders ON users.id = orders.user_id;
```
that will return only users who have placed orders (orders is another table with users_id).

```sql
SELECT *
FROM users
LEFT JOIN orders ON users.id = orders.user_id;
```
this one returns all users but for those who have not done any order there will be NULL or NAN

## 9. Using Python, how would you find the 5 most common words in a large text file?

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode, col, lower


spark = SparkSession.builder \
    .appName('read_file') \
    .getOrCreate()


df = spark.read.text('./data/HC-5059_ID06-LVP.txt')


df_words = df.withColumn('words', split(col('value'), ' '))
df_exploded = df_words.select(explode(col('words')).alias('word')) \
                      .withColumn('word', lower(col('word'))) \
                      .filter(col('word') != '')


top_words = df_exploded.groupBy('word') \
    .count() \
    .orderBy(col('count').desc()) \
    .limit(5)

top_words.show()

+----------+-----+
|      word|count|
+----------+-----+
|      been|   88|
|       has|   88|
|   dataset|   87|
|2023-02-27|   34|
|        to|   30|
+----------+-----+

## 10. Which of the following are Python libraries for data manipulation and analysis? (multiple OK)
    □ NumPy
    □ Pandas
    □ TensorFlow
    □ SQLAlchemy
    □ OpenCV

    Pandas, SQLalchemy, numpy

## 11. Write a Python function that reads a JSON file and returns all keys at the top level.

In [31]:
import json

def get_json_keys(json_file):
    with open(json_file, 'r') as f:
        data = json.load(f)
        return list(data.keys())

## 12. Given the following log line:
```pgsql
2023-09-10 15:24:02, INFO, Job started by user: admin
```
Write a regular expression to extract the date, log level, and user.

In [45]:
import re

def date_log_user(log: str):
    pattern = r"(\d{4}-\d{2}-\d{2}) \d{2}:\d{2}:\d{2}, (\w+), .*user: (\w+)"
    match = re.search(pattern, log)
    if match:
        date, level, user = match.groups()
        return [date, level, user]
    else:
        return None

In [46]:
logs = '2023-09-10 15:24:02, INFO, Job started by user: admin'
date_log_user(logs)

['2023-09-10', 'INFO', 'admin']

## 13. What’s the difference between batch and stream processing? When would you use one over the other?

In batch Processing data is collected over a period of time and then processed all at once (good for daily reports, dashboards)

For Streaming data is collected live (and also processed in real-time) and can be used in IoT, fraud detection, when it is important to make decisions during data accusition)

## 15. What’s the difference between a DataFrame and a Series in pandas?

Series is 1D, its a labeld 1D array

DataFrame is a 2D Table, dictionary of Series with column names as keys

# Software Developer in Data & Machine Learning – Technical Test (LLM Focus)

## 1. Multiple Choice: General Python and ML Concepts
Which of the following statements are TRUE? (multiple answers OK)

    □ A Python function can return multiple values
    □ numpy is often used for data visualization
    □ scikit-learn provides tools for deep learning
    □ transformers is a library by Hugging Face
    □ Tokenization is the process of converting strings into numerical IDs

    1, 4, 5

## 2. What does the following code print?
```python

from transformers import pipeline

qa = pipeline("question-answering")
context = "Python is a popular programming language created by Guido van Rossum."

result = qa(question="Who created Python?", context=context)
print(result["answer"])
```

Guido van Rossum

## 3. Write a function that takes a text string and returns the most frequent bigram (pair of consecutive words)

In [3]:
from collections import Counter

def most_frequent_bigram(text):

    words = text.lower().split()
    bigrams = list(zip(words, words[1:]))
    bigram_counts = Counter(bigrams)
    most_common = bigram_counts.most_common(1)
    
    return most_common[0][0] if most_common else None

## 4. What’s the difference between batch size, epoch, and learning rate in training ML models?

batch size is a number of samples the model process at once before update the weights (activation and backpropagation)
*   total number of points is 1000 and if batchsize is 100 then the model will do 10 calcultaions/updates
-------
epoch is total pass through the data pints
*   so in the last example all 10 updates would be 1 epoch so multiple epochs are needed for good performance
-------
learning rate is a coefficient in weights backpropagation:
*   small lead to smaler weight changes -> slower training (or no training at all)
*   big lead to larger weight updates -> faster training (but can result in not convergency, overshooting)

## 1. Python: Multiple Choice
Which of the following statements are TRUE? (Multiple answers possible)

    □ Python supports list, set, and dictionary comprehensions
    □ Dictionaries preserve insertion order (Python 3.7+)
    □ with open() automatically closes files after reading
    □ Tuples are mutable
    □ None, False, and 0 are treated the same in conditional checks


1, 3, 2

## 2. File I/O
Write a function to read a .csv file and return a list of dictionaries (one per row). Don’t use pandas.

In [ ]:
def my_read_csv(file_csv):
    with open(file_csv, 'r') as file:
        rows = [line.strip().split(',') for line in file]
        header = rows[0]
        values = list(zip(*rows[1:]))
        
        return dict(zip(header, values))

In [65]:
import csv

def my_read_csv(file_csv):
    with open(file_csv, 'r', newline='', encoding='utf-8') as file:
        reader = csv.DictReader(file)
        return [row for row in reader]

## 3. JSON Parsing
Given the following JSON structure in a file. Write a function that extracts all employee names.

```json
{
  "employees": [
    {"name": "Alice", "role": "engineer"},
    {"name": "Bob", "role": "analyst"}
  ]
}

In [73]:
import json

def get_employees(json_file):
    with open(json_file, 'r') as f:
        data = json.load(f)
        return [employee['name'] for employee in data['employees']]

In [75]:
get_emploees('empl.json')

['Alice', 'Bob']

## 4. SQL
You have a table orders with:

order_id

user_id

order_date

amount

Write a SQL query to get the total amount spent per user in 2023, ordered from highest to lowest.

```sql

SELECT user_id, SUM(amount) as total_amount
FROM orders
WHERE YEAR(order_date) = 2023
GROUP BY user_id
ORDER BY total_amount DESC;

## 5. Regex
Given the string:
```python
"Order #1234 was placed on 2024-05-15 by user ID u678"
```

Write a regex to extract:

    The order number

    The date

    The user ID

In [79]:
import re

def order_info(line):
    pattern = 'Order #(\d+) was placed on (\d{4}-\d{2}-\d{2}) by user ID (\w+\d+)'
    return [match for match in re.findall(pattern, line)]

In [80]:
order_info("Order #1234 was placed on 2024-05-15 by user ID u678")

[('1234', '2024-05-15', 'u678')]

## 6. Data Cleaning
Using pandas, write code to:

    Load a CSV file with columns name, age, and income

    Drop rows with missing age or income

    Fill missing names with "Unknown"

    Convert income to float

In [83]:
def data_clean(file_csv):
    data = pd.read_csv(file_csv)
    data = data.dropna(subset=['age','income'])
    data['name'] = data['name'].fillna('Unknown')
    data['income'] = data['income'].astype(float)

    return data

## 7. Dictionaries
Write a function that receives a list of strings and returns a dictionary with each unique string as key and its number of occurrences as value.

Example:

```python
["apple", "banana", "apple"] → {"apple": 2, "banana": 1}

In [92]:
def count_fruits(list_fruits):
    result = {}
    for fruit in list_fruits:
        result[fruit] = result.get(fruit, 0) + 1
    return result

In [93]:
count_fruits(["apple", "banana", "apple"])

{'apple': 2, 'banana': 1}

In [88]:
from collections import Counter

def count_fruits(list_fruits):
    return dict(Counter(list_fruits))

## 8. List Comprehension Challenge
From a list of integers, return a list of squares of even numbers between 0 and 100.

In [95]:
def even_squared(int_list):
    return list(map(lambda x: x**2, filter(lambda x: x % 2 == 0 and x > 0 and x < 100, int_list)))

In [97]:
even_squared([-1, 200, 3, 4, 5, 0, 0, 8, 2])

[16, 64, 4]

In [98]:
def even_squared(int_list):
    return [x**2 for x in int_list if x % 2 == 0 and x > 0 and x < 100]

In [99]:
even_squared([-1, 200, 3, 4, 5, 0, 0, 8, 2])

[16, 64, 4]

## 9. REST API
Use the requests module to send a GET request to:

```Python
`https://jsonplaceholder.typicode.com/posts`
```
Write code to fetch the data and print the title of the first 3 posts.

In [117]:
import requests

def first_3_titles(url):
    response = requests.get(url).json()
    return [user['title'] for user in response[:3]]

In [118]:
first_3_titles('https://jsonplaceholder.typicode.com/posts')

['sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
 'qui est esse',
 'ea molestias quasi exercitationem repellat qui ipsa sit aut']

## 10. Command Line Tool (Bonus)
Write a script that can be run as:

```bash
python stats.py data.csv --column=age
```
It should print the mean, min, and max of the specified column from a CSV.

```python

import argparse
import pandas as pd
from pathlib import Path

def get_stats(data, col):
    print(f'Statistic for {col}\nMean: {data[col].mean()}\nMin: {data[col].min()}\nMax: {data[col].max()}')

def main(input, col):
    data = pd.read_csv(input)
    get_stats(data, col)

if __name__ == '__main__':
    parser = argparse.ArgumentParser()
    parser.add_argument('csv_file', type=str, help='path to the csv file')
    parser.add_argument('--column', type=str, required=True, help='select a column')

    args = parser.parse_args()

    input = Path(args.csv_file)
    col = args.column

    main(input, col)
```

## 1. Multiple Choice: Data Types & Structures
Which of the following are mutable types in Python?

    □ list
    □ dict
    □ str
    □ set
    □ tuple

1, 2, 4

## 2. Function Logic
Write a function that accepts a string and returns True if it’s a valid IPv4 address, otherwise False. Example of valid: "192.168.1.1"

In [ ]:
def check_valid_IP(str_ip):
    ip = str_ip.split('.')
    if len(ip) != 4:
        return False
    for number in ip:
        if not number.isdigit():
            return False
        if not 0 <= int(number) <= 255:
            return False
        if number != '0' and number.startswith('0'):
            return False
    return True

In [150]:
check_valid_IP('16.5.255.2a')

False

## 3. CSV Processing
You are given a CSV file with the following columns:

```python
user_id, session_length, timestamp
```

Write code to:

    Load the CSV with pandas

    Group by user_id and compute the average session length

In [151]:
import pandas as pd

def get_mean_session_length(csv_file):
    data = pd.read_csv(csv_file)
    avg_session = data.groupby('user_id')['session_length'].mean()
    return avg_session

## 4. Data Joining
You have two CSVs:

users.csv

```yaml
user_id, name
1, Alice
2, Bob
```

logins.csv
```yaml
user_id, login_time
1, 2024-01-01
1, 2024-01-02
2, 2024-01-01
```
Write code to merge the data and count logins per user.

In [173]:
import pandas as pd

df1 =pd.DataFrame({'user_id': (1,2), 'name':('Alice', 'Bob')})
df2 =pd.DataFrame({'user_id': (1,1,2), 'login_time': ('2024-01-01', '2024-01-02', '2024-01-01')})

def merge_count(df_users, df_logins):
    login_counts = df_logins.groupby('user_id').size().reset_index(name='total_logins')
    result = df_users.merge(login_counts, on='user_id', how='left')
    
    return result

In [174]:
merge_count(df1,df2)

   user_id   name  total_logins
0        1  Alice             2
1        2    Bob             1

## 5. String Handling
Write a function that takes a sentence and returns the number of unique words, case-insensitive, ignoring punctuation.

In [180]:
import re
def number_unique_words(input_str):
    words = re.findall(r'\b\w+\b', input_str.lower())
    return len(set(words))

In [181]:
number_unique_words('hello? ho.w are you!!a')

6

## 6. SQL
Given table files with:

filename

size_kb

upload_date

Write a SQL query to return the average file size per month in 2024.

```sql
SELECT AVG(size_kb) as average_size, MONTH(upload_date) as upload_month
FROM files
WHERE YEAR(upload_date) = 2024
GROUP BY upload_month
```

## 7. Time & Date

Using Python's datetime module, write a function that returns the number of weekdays between two given dates (as strings in "YYYY-MM-DD" format).

In [190]:
import datetime
start = '2024-02-04'
end = '2024-05-04'
print(datetime.datetime(int(start.split('-')[0]),int(start.split('-')[1]),int(start.split('-')[2])))

# def get_weekdays(start, end):
#     datetime.datetime()

2024-02-04 00:00:00

In [188]:
[int(x) for x in start.split('-')]

[2024, 2, 4]

In [192]:
from datetime import datetime, timedelta

def count_weekdays(start_date: str, end_date: str):

    start = datetime.strptime(start_date, "%Y-%m-%d").date()
    end = datetime.strptime(end_date, "%Y-%m-%d").date()
    
    if start > end:
        start, end = end, start

    weekday_count = 0
    current_day = start
    
    while current_day <= end:
        if current_day.weekday() < 5:
            weekday_count += 1
        current_day += timedelta(days=1)
    
    return weekday_count

## Exercise Set 1: Navigation & Files


    1. Show your current directory path
```bash
    pwd
```
    2. Create a directory called bash_practice and move into it
```bash
    mkdir bash_practice && cd bash_practice
```
    3. Inside bash_practice, create an empty file named log.txt
```bash
    touch log.txt
```
    4. Copy log.txt to a new file called log_backup.txt
```bash
    cp log.txt log_backup.txt
```
    5. Rename log.txt to main_log.txt
```bash
    mv log.txt main_log.txt
```
    6. Remove the log_backup.txt file
```bash
    rm log_backup.txt
```
    7. Go one directory up and remove the bash_practice folder and everything inside
```bash
    cd .. && rm -r bash_practice/
```

## Exercise Set 2: Variables & Printing

Create a variable called city and assign it your favorite city
→ Then print: "I want to visit (city)"
```bash
    city='London'&& echo "I want to visit $city"
```
Create two variables, first="Dmitrii" and last="Ivanov"
→ Then print: "Hello, Dmitrii Ivanov!" (using those variables)

```bash
    first='Dmitrii' && last='Ivanov' && echo "Hello, $first $last!"
```

Try using echo with a command substitution
→ Print the current date with this structure:
"Today is: (current date)"

```bash
    echo "Today is $(date)"
```

## Exercise Set 3: Conditionals & Loops

    1. Conditionals
Ask the user for their favorite programming language. If they say "Python", print "Good choice!". Otherwise, print "Try Python, it’s awesome!"

```bash
read lang
if [ "$lang" == "Python" ]; then 
echo "Good choice!"
else echo "Try Python, it's awesome!"
fi
```
    2. For loop
Write a loop that prints the numbers from 5 to 1 (in reverse)
Hint: use {5..1} with a step

```bash
for i in {5..1..-1}; do
echo "Number $i"
done
```
    3. While loop
Create a while loop that counts from 1 to 3 and prints "Counting: X"
```bash
counter=1
while [ $counter -le 3 ]; do
echo "Counting: $counter"
((counter++))
done
```

## Exercise Set 4: Simple Bash Script

Create a file called greet.sh

Add the following logic inside:

    Ask the user for their name

If the name is Dmitrii, print: "Welcome back, Dmitrii!"

Else, print: "Hello, (name)!"

    Make it executable and run it

```bash
    touch greet.sh && printf '#!/bin/bash\necho "What'\''s your name?"\nread name\nif [ "$name" == "Dmitrii" ]; then\n  echo "Welcome back, Dmitrii!"\nelse\n  echo "Hello $name!"\nfi\n' > greet.sh && chmod +x greet.sh && ./greet.sh
```

## Power Tools Exercises

```bash
cat <<EOF > sample.txt
Name Age Score
Alice 30 85
Bob 25 92
Charlie 35 78
Dmitrii 34 100
Eve 28 66
EOF
```

## grep Challenges
    Find all lines that contain the name Dmitrii
```bash
    grep "Dmitrii" sample.txt
```
    Find all lines with a score of at least 9 (just try grep without regex for now)
```bash
    awk '$3 >= 90 {print $0}' sample.txt

    grep -E "9[0-9]|100" sample.txt
```
    Find all lines that contain names with capital C
```bash
    grep "\bC" sample.txt

    grep "^C" sample.txt
```

## sed Challenges

    Replace the name Bob with Robert
```bash
sed 's/Bob/Robert/' sample.txt
```
    Delete the first line of the file
```bash
sed '1d' sample.txt
```
    Replace all spaces with commas (CSV format!)
```bash
sed 's/ /,/g' sample.txt
```

## awk Challenges

    Print only the names
```bash
awk '{print $1}' sample.txt
```
    Print names and scores of people with a score above 80
```bash
awk '$3 > 80 {print $1, $3}' sample.txt
```
    Print all names and add 10 years to their age
```bash
awk '{print $1, $2 + 10}' sample.txt
```

## Combo Challenge: Clean + Filter + Transform

You have a file called people.txt with messy data:

```bash
#name age score
 Alice   30   85
Bob 25 92
 Charlie 35 78
Dmitrii 34 100
Eve  28   66
Dan   23 88
```
    Remove the header line (the one starting with #)

    Trim all extra spaces (make fields nicely separated by a single space)

    Keep only the people whose names start with D

    Add 5 years to their age

    Convert the output to a CSV format: Name,NewAge,Score
    
```bash
sed -E -e '1d' -e 's/^ *//g' -e 's/  +/ /g' -n -e '/^D/p' people.txt | awk '{print $1 "," $2+5 "," $3}' 
```

# BASH Exercise #1

## Error Log Analyzer
File: server.log

```sql
[INFO] 2024-04-01 Server started
[ERROR] 2024-04-01 Failed to connect to DB
[WARNING] 2024-04-02 Low disk space
[ERROR] 2024-04-03 Timeout on port 8080
[INFO] 2024-04-03 Connection restored
```

```bash
cat <<EOF > server.log
[INFO] 2024-04-01 Server started
[ERROR] 2024-04-01 Failed to connect to DB
[WARNING] 2024-04-02 Low disk space
[ERROR] 2024-04-03 Timeout on port 8080
[INFO] 2024-04-03 Connection restored
EOF
```

* Extract only the lines with [ERROR]

```bash
grep "ERROR" server.log
```
* Count how many error lines there are
```bash
grep -c "ERROR" server.log

grep "ERROR" server.log | wc -l
```
* Extract the date and message from each error line in CSV format like: 2024-04-01,Failed to connect to DB
```bash
grep "ERROR" server.log | sed -E 's/.* ([0-9-]+) (.*)/\1,\2/'

awk '/ERROR/ {print $2 "," substr($0, index($0,$3))}' server.log
```

# BASH exercise #2
## Temperature Monitor
File: temps.txt
```sql
2024-04-01 23°C  
2024-04-02 19°C  
2024-04-03 28°C  
2024-04-04 16°C  
2024-04-05 21°C
```
to create:
```bash
cat <<EOF > temps.txt
2024-04-01 23°C
2024-04-02 19°C
2024-04-03 28°C
2024-04-04 16°C
2024-04-05 21°C
EOF
```

*   Extract lines where the temperature is below 20°C
```bash
sed -E 's/°C//g' temps.txt | awk '$2 < 20 {print $0}'
```
*   Output only the date and temperature (without the °C), in CSV format:
Example: 2024-04-02,19
```bash
sed -E 's/°C//g' temps.txt | awk '{print $1 "," $2}'
```
*   Count how many cold days (<20°C)
```bash
sed -E 's/°C//g' temps.txt | awk '$2 < 20 {print $0}' | wc -l

awk '{gsub("°C",""); if ($2 < 20) count++} END {print count}' temps.txt
```